<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Housing Analyzer</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Average Chart
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('average', state='Georgia') }}">Georgia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('average', state='Alabama') }}">Alabama</a>
                        </li>
                    </ul>
                </li>

                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Heat Map
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('map1', state='Georgia') }}">Georgia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('map1', state='Alabama') }}">Alabama</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Property Type Chart
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('property_type', state='Georgia') }}">Georgia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('property_type', state='Alabama') }}">Alabama</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Min/Max Chart
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('min_max_chart', state='Georgia') }}">Georgia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('min_max_chart', state='Alabama') }}">Alabama</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Top Max Chart
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('top_max_chart', state='Georgia') }}">Georgia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('top_max_chart', state='Alabama') }}">Alabama</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Top Min Chart
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('top_min_chart', state='Georgia') }}">Georgia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('top_min_chart', state='Alabama') }}">Alabama</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>