<!DOCTYPE html>
<html>
    <head>
        {% include 'extensions.html'%}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
        <title>Property Type Chart</title>
    </head>
    <body>
        {% include 'navbar.html'%}
        <div id="container" style="height: 800px; width: 1000px; margin:0 auto; padding-top: 20px;"></div>

        <script type="text/javascript">
            const dom = document.getElementById("container");
            const myChart = echarts.init(dom);
            const app = {};
            const zipcode = {{ zipcode|tojson }};
            const single = {{ single|tojson }};
            const multi = {{ multi|tojson }};
            const condo = {{ condo|tojson }};
            const land = {{ land|tojson }};
            let option;

            option = {
                title: {
                    text: 'Different Property Types in Each Zip Code in {{ state }}'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: 90,
                    right: 90,
                    bottom: 90,
                    containLabel: true
                },
                dataZoom: [{
                    type: 'inside',
                    start: 40,
                    end: 45
                }, {
                    type: 'slider',
                }],
                xAxis: [
                    {
                        type: 'category',
                        data: zipcode,
                        axisTick: {
                            alignWithLabel: true
                        },
                        name: 'Zipcode'
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: 'Count'
                    }
                ],
                series: [
                    {
                        name: 'Single Family',
                        type: 'bar',
                        data: single
                    },
                    {
                        name: 'Multi Family',
                        type: 'bar',
                        data: multi
                    },
                    {
                        name: 'Condo',
                        type: 'bar',
                        data: condo
                    },
                    {
                        name: 'Land',
                        type: 'bar',
                        data: land
                    },
                ]
            };

            if (option && typeof option === 'object') {
                myChart.setOption(option);
            }

        </script>
    </body>
</html>